<header class="topics-header">
	<h1 class="topic-title">What do you want to know more about?</h1>
</header>


<!-- Left topics nav-->
<%= render "layouts/left_nav", categories: @topic_names %>

<!-- Show all topics -->
<div class="topics-container">
	<% @topics.each_with_index do |topic, i| %>
		<article class="topic" id=<%= topic.name.gsub(' ', '') %>>
			<button class='topic-info'>I</button>
			<h2 class="topic-name"><%= link_to topic.name, topic %></h2>
			<ul class="skills-container">
				<% topic.skillz_hash.keys.each do |skill_name| %>
					<li><%= link_to skill_name, "/topics/#{topic.id}/##{skill_name.gsub(' ', '')}" %></li>
				<% end %>
			</ul>
		</article>
	<% end %>
</div>

<!-- Learning Path -->
	<!-- render the learning path partial -->

<div class="page-cover">
</div>

<div class="topic-info-container hide">
	<button class="topic-info-close">X</button>
	<h2 class="topic-name"></h2>
	<p class="topic-summary"></p>
</div>