<div class="stream-info">
	<h2 class="stream-name"><%= @stream.name %></h2>
	<p class="stream-description"><%= @stream.description %></p>
</div>

<div class='topics-container'>
	<%= render @topics %>
</div>
