<div class="stream-info">
	<h2 class="stream-name"><%= @stream.name %></h2>
	<p class="stream-description"><%= @stream.description %></p>
</div>

<aside class="topics-nav-container">
	<ul class="topics-nav"></ul>
</aisde>

<div class='topics-container'>
	<%= render @topics %>
</div>

<div class="page-cover">
</div>

<div class="source-show-container hide">
	<img class="source-img" alt=""></img>
	<h2 class="source-name"></h2>
	<div class="source-info"></div>
	<p class="source-summary"></p>
</div>
