/* ----- INFO BOX ----- */

html{
	min-height: 100%;
}

.page-cover.fade{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 9000px;
	z-index: 39;
	background-color: rgba(20, 18, 18, 0.81);
}

.info-container.show{
	background-color: rgba(236, 218, 218, 0.88);
	width: 50%;
	min-height: 25em;
	border: 5px solid black;
	z-index: 42;
	position: fixed;
	font-size: 1em;
	left: 25%;
	top: 25%;
	transition: 0.35s linear;
	& .info-close{
		position: absolute;
		top: 0;
		right: 0;
	}
	& img{
		height: 8em;
		width: 8em;;
	}
}

.info-name{
	padding: 0.5em;
	margin: 0;
	background-color: rgba(56, 95, 177, 0.65);
	& a{
		color: white;
	}
}

.info-container.hide{
	visibility: hidden;
	width: 1px;
	height: 1px;
	font-size: 1px;
	z-index: -4;
	position: fixed;
	left: 50%;
	top: 50%;
	& img{
		height: 1px;
		width: 1px;
	}
}

.source-hotkeys-container{
	width: 40%;
	position: fixed;
	color: white;
	top: 17%;
	left: 30%;
	display: none;
	z-index: 100;
	& button{
		min-height: 2em;
		min-width: 2em;
		margin-left: 1em;
		margin-right: 0.3em;
		color: white;
		background-color: #404243;
		text-align: center;
		border: 1px solid black;
		box-shadow: 0px 1px 0px rgba(255,255,255,0.1) inset,0px 0px 1px 1px rgba(255,255,255,0.15);
	}
}