/* 
basic grid layout:
left nav: 12%
gutter: 1%
grid container: 70%;
	gutter: 1%
	grid block: 46.8%
	gutter: 2%
	grid block: 46.8%
	gutter: 1%
gutter: 1%
learning path container: 16%
*/

// ----- MIXINS -----

@mixin header{
	width: 90%;
	margin: 3em auto;
	min-height: 4em;
}

@mixin grid-container{
	display: inline-block;
	width: 69.5%;	
	margin: 1%;
}

@mixin grid-block{
	width: 46%;
	margin: 1%;
}

// ----- NAV and HEADER -----

.logo{
	display: inline-block;
	width: 30%;
}


.navbar{
	position: relative;
	background-color: white;
	top: 0;
	width: 100%;
	height: 4em;
	//background: black;
	& a{
		//color: white;
	}
	& .navbar-links{
		float: right;
		& li{
			display: inline-block;
		}
	}
}

.left-nav{
	display: inline-block;
	margin-left: 1%;
	margin-top: 0.5%;
	width: 11%;
	float: left;
	& li{
		padding: 1.5em 2% 1em 0;
	}
}

.topics-header{
	@include header;
	width: 92%;
	margin: 4em 0 10px 0;
	padding: 4%;
	& .topic-title{
		width: 80%;
		margin: auto;
		text-align: center;
	}
	& .pitch{
		text-align: center;
		width: 65%;
		margin: auto;
		margin-top: 2em;
	}
}
// ----- TOPICS INDEX and SHOW -----

.container{
	width: 100%;
}

.learning_path-container{
	display: inline-block;
	width: 13.8%;
	padding: 1%;
	float: right;
	margin-top: 1.5em;
}

.topics-container{
	@include grid-container;
}

.skills-container{
	@include grid-container;
}

.block{
	@include grid-block;
	position: relative;
	float: left;
	padding: 1%;
	& ul{
		width: 90%;
		padding-left: 1em;
		& li{
			padding-left: 0.5em;
			height: 2em;
			margin: 0.5em;
		}
	}
}

.topic-name{
	display: inline-block;
	width: 80%;
}