// Place all the styles related to the learning_path controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.choose-path-container{
	visibility: hidden;
	list-style: none;
	z-index: 50;
	width: 40%;
	position: fixed;
	left: 25%;
	top: 20%;
	& li{
		width: 100%;
		background-color: white;
		padding: 1em;
		margin-bottom: 1.5em;
		text-align: center;
		cursor: pointer;
		border-radius: 10px;
		&:hover{
			background-color: lightgrey;
		}
	}
}
