// Place all the styles related to the learning_path controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.choose-path-container{
	display: none;
	list-style: none;
	z-index: 50;
	width: 50%;
	position: fixed;
	left: 25%;
	top: 20%;
	& li{
		background-color: white;
		cursor: pointer;
	}
}
