html{
	min-height: 100%;
}

.page-cover.fade{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 9000px;
	z-index: 39;
	background-color: rgba(20, 18, 18, 0.81);
}

.info-container.show{
	background-color: white;
	width: 50%;
	min-height: 25em;
	border: 5px solid black;
	opacity: 1;
	z-index: 42;
	position: fixed;
	font-size: 1em;
	left: 25%;
	top: 25%;
	transition: 0.5s linear;
	& .info-close{
		position: absolute;
		top: 0;
		right: 0;
	}
	& img{
		height: 8em;
		wodth: 8em;;
	}
}

.info-container.hide{
	width: 1px;
	height: 1px;
	font-size: 1px;
	opacity: 0;
	z-index: -4;
	position: fixed;
	left: 50%;
	top: 50%;
	& img{
		height: 1px;
		wodth: 1px;
	}
}