// ----- MIXINS -----

// ----- HEADERS and NAVS -----

.navbar-links{
	height: 4em;
	padding: 0;
	margin: 0;
	margin-right: 2em;
	& li{
		height: 4em;
		line-height: 4em;
		& a{
			display: inline-block;
			height: 4em;
			padding: 0 1em 0 1em;
			&:hover{
				background-color: lightgrey;
			}
		}
	}
}

.topics-header{
	background-color: black;
	color: white;
}

// ----- GRID BLOCKS -----


.block{
	& a{
		color: white;
	}
	& li{
		line-height: 2em;
	}
}
// red
.bg1{
	background-color: rgb(213,131,110);
	&:hover{
		-webkit-box-shadow: inset 0 0 0 5px #e85c41;
		box-shadow: inset 0 0 0 5px #e85c41;
	}
	& li{
		background-color: rgba(229,94,69, 0.8);
	}
}

//yellow
.bg2{
	background-color: rgb(254,222,136);
	&:hover{
		-webkit-box-shadow: inset 0 0 0 5px #FECE4D;
		box-shadow: inset 0 0 0 5px #FECE4D;
	}
	& li{
		background-color: rgba(254,206,77, 1);
	}
}

//blue
.bg3{
	background-color: rgb(109,197,220);
	&:hover{
		-webkit-box-shadow: inset 0 0 0 5px rgba(76,175,201, 1);
		box-shadow: inset 0 0 0 5px rgba(76,175,201, 1);
	}
	& li{
		background-color: rgba(76,175,201, 1);
	}
}

//purple
.bg4{
	background-color: rgb(128, 97, 143);
	&:hover{
		-webkit-box-shadow: inset 0 0 0 5px rgb(126, 70, 133);
		box-shadow: inset 0 0 0 5px rgb(126, 70, 133);
	}
	& li{
		background-color: rgb(126, 70, 133);
	}
}

//grey
.bg5{
	background-color: rgba(183,183,183,1);
	&:hover{
		-webkit-box-shadow: inset 0 0 0 5px rgba(137,137,137, 1);
		box-shadow: inset 0 0 0 5px rgba(137,137,137, 1);
	}
	& li{
		background-color: rgba(137,137,137, 1);
	}
}

//green
.bg6{
	background-color: #45DA5D;
	&:hover{
		-webkit-box-shadow: inset 0 0 0 5px #41C42F;
		box-shadow: inset 0 0 0 5px #41C42F;
	}
	& li{
		background-color: #5BAD65;
	}
}

.btn-new-source{
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
}

// ----- NAVS and HEADERS -----

.left-nav ul{
	border-top: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	& a{
		color: black;
		&:hover{
			color: grey;
		}
	}
}

// ----- LEARNING PATH -----

.learning_path-container{
	border-top: 2px solid lightgrey;
	border-left: 2px solid lightgrey;
}

.node{
	background-color: lightgrey;
	border-radius: 5px;
	padding: 1em;
	& ul{
		padding-left: 0;
	}
}