<div class="page-cover">
</div>

<div class="info-container hide">
	<button class="info-close" data-type="sources">X</button>
	<img class="source-img" alt=""></img>
	<h2 class="source-name"></h2>
	<div class="source-info"></div>
	<p class="source-summary"></p>
</div>